#Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  color: rgb(var(--accent-color));
}

#Home h1 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

#Home form {
  width: 100%;
}

#Home label {
  display: flex;
  padding: 0.2rem;
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.15rem;
  border-color: rgb(var(--accent-color));
  align-items: center;
}

#Home svg {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.3rem;
}

#Home input {
  background-color: transparent;
  flex-grow: 1;
  padding: 0.5rem;
  color: inherit;
  font-size: 1.1rem;
  outline: none;
  border: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

#Home input::placeholder {
  color: #888;
  opacity: 1;
}

#Home input::-webkit-search-cancel-button {
  display: none;
}
