#Search {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#Search form {
  background-color: rgba(var(--background-color), 0.8);
  backdrop-filter: blur(6px);
  width: 100%;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

#Search label {
  display: flex;
  padding: 0.2rem;
  background-color: rgba(var(--text-color), 0.2);
  border-radius: 1rem;
  align-items: center;
}

#Search .icon {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.3rem;
}

#search_results {
  margin: 0.5rem;
  height: 100%;
}

#Search input {
  top: 0;
  background-color: transparent;
  flex-grow: 1;
  padding: 0.5rem;
  color: inherit;
  font-size: 1.1rem;
  outline: none;
  border: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

#Search input::placeholder {
  color: #888;
  opacity: 1;
}

#Search input::-webkit-search-cancel-button {
  display: none;
}
