.NavbarButton {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  flex-grow: 1;
  padding: 0.5rem 0;
  border: none;
  color: rgb(var(--text-color));
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-size: 0.8rem;
}

.NavbarButton > div {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.NavbarButton:hover {
  cursor: pointer;
}

.NavbarButton.active {
  color: rgb(var(--accent-color));
  background-color: rgba(var(--accent-color), 0.3);
}

.NavbarButton svg {
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
}
