.RestaurantResult {
  background-color: rgba(var(--accent-color), 0.9);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: left;
  flex-grow: 1;
  color: rgb(255, 255, 255, 255);
  box-shadow: 0.4em 0.4em 1em rgba(0, 0, 0, 0.2);
}

.RestaurantResult > .info {
  padding: 0.8rem;
}

.RestaurantResult .wrapper:has(.image) {
  flex-grow: 1;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RestaurantResult .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.RestaurantResult .name {
  margin: 0.4rem 0;
}

.RestaurantResult > .Bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.RestaurantResult > .Favourite {
  height: 0;
  width: fit-content;
  position: relative;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
}

.RestaurantResult > .Favourite svg {
  padding: 1rem;
}
