:root {
  --accent-color: 140, 190, 70;
  --border-radius: 0.5rem;
  --page-margin: 1.5rem;
}

:root:has(#View[darkmode="true"]) {
  --background-color: 0, 0, 0;
  --text-color: 250, 250, 250;
}

:root:has(#View[darkmode="false"]) {
  --background-color: 255, 255, 255;
  --text-color: 5, 5, 5;
}

html,
body,
#main,
#View {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(var(--text-color));
}

body {
  overflow: hidden;
  background-color: rgb(var(--background-color));
}

#main {
  overflow: scroll;
}

#View {
  display: flex;
  flex-direction: column;
}

svg {
  height: 2rem;
  width: 2rem;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(var(--accent-color));
  cursor: pointer;
}
